.name { 
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 0.67em;
}

#major {
	font-style: italic;
}

#bio {
	margin: 1em 0px;
}

#music {
	font-weight: bold;
	font-style: italic;
	margin-bottom: 0.67em;
}
