body {	
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #edeae5;
	width: 100%;
	height: 100%;
	position: relative;
	margin: 0px;
}

div {
	transition: linear 0.2s;
}

#container {
    width: 480px;
    height: 480px;
    position: absolute;
    top: calc(50% - 240px);
    left: calc(50% - 240px);
}
.circle {
    width: 60px;
    height: 60px;
    background: white;
    display: inline-block;
    margin-right: 30px;
    border-radius: 50%;
}
.square {
    width: 60px;
    height: 60px;
    background: white;
    display: inline-block;
    margin-right: 30px;
    background: #e67e22; /* part 1 */
}
.row {
    margin-bottom: 30px;
}
.green {
    background: #78c272;
    background: #6392c0; /*part 5 */
}
.fancy {
    border: 3px inset rgba(74, 74, 74, 0.25);
    width: 54px;
    height: 54px;
    background: #6392c0; /*part 5 */
}
#third-row .circle{ /* part 2 */
    background: #de6868;
}
.circle.fancy { /*part 3 */
    border-style: dotted;
}

.circle:hover {
    opacity: 0.5; /*part 6*/
}

#second-row .circle:hover { /*part 7*/
    opacity: 0.5;
    -webkit-transform: scale(1.25);
}

div.row div.circle:first-child { /* part 4 */
    opacity:0;
}
